body {
    font-family: 'Playfair Display', serif;
    background-image: url('../image/fundo.png');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: white;
  }
  
  .zoom:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
   }
  header {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .marca {
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: #203D15;
    font-weight: 700;
  }
  
  nav a {
    color: white;
    text-transform: uppercase;
    padding: 0.5rem;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  nav a:hover {
    color: #203d157a;
  }
  
  /* Estilos da galeria */
  .galeria-item {
    position: relative;
    overflow: hidden;
  }
  
  .galeria-item img {
    transition: transform 0.3s ease;
  }
  
  .galeria-item:hover img {
    transform: scale(1.1); /* Zoom na imagem */
  }
  
  h3 {
    text-align: center;
    color: #fff;
  }
  
  /* Grid da galeria */
  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas para desktop */
    gap: 16px;
  }
  
  @media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(3, 1fr); /* 3 colunas para tablets */
    }
  }
  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr); /* 2 colunas para telas menores */
    }
  }
  
  @media (max-width: 480px) {
    .grid {
      grid-template-columns: 1fr; /* 1 coluna para dispositivos móveis */
    }
  }
  